
# --------- APP --------- # 
APP_PORT=8080
LOGS_PATH=./logs
ENV_PATH=./.env
LOG_LEVEL_APP=INFO

# --------- APP-KAFKA --------- # 

# Если хотите запустить не в контейнере
#KAFKA_BROKER=localhost:9094

# Если хотите запустить не в контейнере
KAFKA_BROKER=kafka:9092


KAFKA_TOPIC=wb-order-created-v1
KAFKA_GROUP=order-service-created-consumer-v1
LOG_LEVEL_KAFKA=INFO

# --------- APP-POSTGRES --------- # 

# Если хотите запустить не в контейнере
#DB_LINK=postgres://user:password@localhost:5555/level_0


# Если хотите запустить в контейнере
DB_LINK=postgres://user:password@database:5432/level_0



# --------- APP-SERVER--------- # 
LOG_LEVEL_SERVER=INFO

# --------- APP-CACHE--------- # 
LOG_LEVEL_CACHE=DEBUG
CACHE_CAPACITY=10
TTL_ORDER=5