
# --------- APP --------- # 
LOG_LEVEL=debug
APP_PORT=8080
LOGS_PATH=./logs
ENV_PATH=./.env

# --------- APP-KAFKA --------- # 
KAFKA_BROKER=localhost:9094
KAFKA_TOPIC=wb-order-created-v1
KAFKA_GROUP=order-service-created-consumer-v1

# --------- APP-POSTGRES --------- # 
DB_LINK=postgres://user:pass@localhost:5555/level_0