
# --------- APP --------- # 
APP_PORT=8080
LOGS_PATH=./logs
ENV_PATH=./.env
LOG_LEVEL_APP=

# --------- APP-KAFKA --------- # 
KAFKA_BROKER=localhost:9094
KAFKA_TOPIC=wb-order-created-v1
KAFKA_GROUP=order-service-created-consumer-v1
LOG_LEVEL_KAFKA=

# --------- APP-POSTGRES --------- # 
DB_LINK=postgres://user:password@localhost:5555/level_0


# --------- APP-SERVER--------- # 
LOG_LEVEL_SERVER=

# --------- APP-CACHE--------- # 
LOG_LEVEL_CACHE=
CACHE_CAPACITY=
TTL_ORDER=