# --------- POSTGRESQL --------- #
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=level_0
PGSQL_HOST_PORT=5555


# --------- MIGRATION --------- #
DB_URL=postgres://user:pass@database:5432/level_0?sslmode=disable
